.contenedor-navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.contenedor-enlaces a{
    color: gray;
    text-decoration: none;
    margin: 0 10px;
}