.contenedor-accesorios-abm{
    display: flex;
    justify-content: space-around;
    margin: 2em 0 3em 0;
    height: 2.5em;
}

.contenedor-accesorios-abm input{
    width: 30%;
    border: 1px solid #000;
    border-radius: 5px;
}

.contenedor-accesorios-abm button{
    background-color:chocolate;
    color: white;
    border: 1px solid #000;
    border-radius: 50px;
    padding: 0 1.5em 0 1.5em;
}